Source: libaudout
Section: devel
Priority: extra
Maintainer: Ivan Gagis <igagis@gmail.com>
Build-Depends: libpulse-dev, libting-dev (>= 3.0.0), doxygen, awk
Standards-Version: 3.7.2

Package: libaudout0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: Simple cross-platform audio output library in C++.
 libaudout is a library written in C++ which allows easy audio output.

Package: libaudout0-dbg
Section: devel
Architecture: any
Depends: ${shlibs:Depends}, libaudout0 (= ${binary:Version})
Description: debugging symbols for libaudout0 package.

Package: libaudout-dev
Section: devel
Architecture: any
Depends: libting-dev (>= 3.0.0), libaudout0 (= ${binary:Version})
Suggests: libaudout-doc
Description: Simple cross-platform audio output library in C++.
 libaudout is a library written in C++ which allows easy audio output.

Package: libaudout-doc
Section: devel
Architecture: any
Depends: libaudout-dev (= ${binary:Version})
Description: Documentation of libaudout.
 Documentation of libaudout - Simple cross-platform audio output library in C++.
 For more info see description of libaudout-dev package.
